* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #1D1F22;
	font-family: 'Raleway';
}
.container {
	margin: 5vh;
	display: flex;
	justify-content: space-between;
	height: 90vh;
	padding: 0 7vw;
}

.thumbnailsSidebar {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 7vw;
	margin-right: 2vw;
}

.thumbnailContainer {
	width: 100%;
    max-height: 15vh;
	overflow: hidden;
}

.thumbnail {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.mainImageHolder {
	flex: 1;
	background: #ffffff;
	position: relative;
	min-height: 400px;
	display: flex;
	justify-content: center;
}

.mainImage {
	max-width: 100%;
	max-height: 600px;
	width: auto;
	height: auto;
	object-fit: contain;
	transition: opacity 0.3s ease;
}
.main-image.loading {
	opacity: 0.5;
}

.upperInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 30vh;
}
.infobox {
	display: flex;
	justify-content: center;
	width: 40vw;
    height: 65vh;
}
.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30vw;
}
.productName {
	font-size: 1.5rem;
	font-weight: 600;
}
.productType {
	font-size: 1.2rem;
	font-weight: 400;
}
.sizeContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 15vh;
}
.sizeLabel {
	font-size: 1rem;
	font-weight: 700;
}
.sizeOptions {
	display: flex;
	align-items: center;
	gap: 1vw;
}

.sizeOption {
	width: 12px;
	height: 12px;
	border: 1px solid #1D1F22;
	padding: 1.5rem;
	font-size: 1rem;
	font-weight: 400;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	outline: none;
	background: transparent;
}

.sizeOption[data-selected="false"] {
	border-color: #1D1F22;
	background-color: transparent;
	color: #1D1F22;
}

.sizeOption[data-selected="false"]:hover {
	background-color: #1D1F22;
	color: #ffffff;
}

.sizeOption[data-selected="true"] {
	background-color: #1D1F22;
	color: #ffffff;
}
.lowerInfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 30vh;
}
.priceContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 9vh;
	font-weight: 800;
}
.priceContainer span {
	font-size: 1rem;
	font-weight: 600;
}
.price {
	font-size: 1.2rem;
	font-weight: 600;
}

.addToCartContainer {
	height: 9vh;
}
.addToCartButton {
	width: 100%;
	height: 100%;
	background-color: #5ECE7B;
	color: white;
	cursor: pointer;
	border: 1px solid #5ECE7B;
}
