* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.head {
  width: 50vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}


.iconic {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px; 
  margin-bottom: 25px;
  padding: 0; 
}

.title {
  font-family: Poppins;
  font-weight: 500;
  font-size: 26px;
  line-height: 57.6px;
  letter-spacing: -0.9px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 2px;
  margin-top: 0;
  
}

.order {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 14px;
  line-height: 15.6px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: green;
}
.order p {
  width: 540px;
  height: 30px;
  margin-top: 30px;
  color: #56B280;


}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 30px;
  border: 2px solid #56b280;
  background-color: #56b280;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 4px;
  width: 50%;
  
}

.button:hover {
  background-color: #4a9d6d;
  border-color: #4a9d6d;
}
.button a {
  color: white !important;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
